evaluation/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >
  RAG Evaluation Pipeline for Bedrock Knowledge Base.
  Provisions Lambda functions, Step Functions state machine, SNS topic,
  and EventBridge rules to automate retrieve-and-generate evaluation.

# ---------------------------------------------------------------------------
# Parameters
# ---------------------------------------------------------------------------
Parameters:
  KnowledgeBaseId:
    Type: String
    Description: >
      The Amazon Bedrock Knowledge Base ID to evaluate.
      Must match the KNOWLEDGE_BASE_ID used by the LangGraph application.

  BedrockModelId:
    Type: String
    Description: >
      Plain Amazon Bedrock foundation-model ID (NOT an ARN) used as the
      generator for the retrieve-and-generate evaluation. The stack builds
      the ARN as arn:${AWS::Partition}:bedrock:${AWS::Region}::foundation-model/${BedrockModelId},
      so passing a full ARN here produces a doubled prefix and AccessDenied
      at eval time. Example: amazon.nova-pro-v1:0

  EvaluatorModelId:
    Type: String
    Description: >
      Plain Amazon Bedrock foundation-model ID (NOT an ARN) used as the
      evaluator/judge that scores eval results. Should be equal or more
      capable than the generator. Same ARN-construction rule as
      BedrockModelId -- pass the bare ID. Example: amazon.nova-pro-v1:0

  NotificationEmail:
    Type: String
    Description: >
      Email address to subscribe to the SNS evaluation alert topic.
      A confirmation email will be sent after deployment.

  MaxPollingIterations:
    Type: Number
    Default: 40
    Description: >
      Maximum number of polling iterations before declaring a timeout.
      Each iteration waits 30 seconds (after a 300-second initial wait),
      so the default allows ~25 minutes of polling beyond the initial wait.

  PromptResourceId:
    Type: String
    Description: >
      ID of the Bedrock Prompt Management resource that holds the KB prompt
      (created by evaluation/scripts/create_eval_prompt.py). The Lambda
      reads the prompt text from this resource at eval time, and the
      PromptVersionPublishedRule filters CreatePromptVersion events to
      this specific prompt.

# ---------------------------------------------------------------------------
# Globals
# ---------------------------------------------------------------------------
Globals:
  Function:
    Runtime: python3.13
    MemorySize: 256
    Timeout: 900
    Environment:
      Variables:
        KNOWLEDGE_BASE_ID: !Ref KnowledgeBaseId
        EVAL_BUCKET_NAME: !Ref EvalBucket
        EVAL_ROLE_ARN: !GetAtt EvalServiceRole.Arn
        BEDROCK_MODEL_ID: !Ref BedrockModelId
        EVALUATOR_MODEL_ID: !Ref EvaluatorModelId
        AWS_ACCOUNT_ID: !Ref AWS::AccountId
        PROMPT_RESOURCE_ID: !Ref PromptResourceId

# ---------------------------------------------------------------------------
# Resources
# ---------------------------------------------------------------------------
Resources:

  # -------------------------------------------------------------------------
  # IAM: Lambda execution role
  # -------------------------------------------------------------------------
  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-lambda-execution-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: EvalPipelineLambdaPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: BedrockEvalJobPermissions
                Effect: Allow
                Action:
                  - bedrock:GetEvaluationJob
                  - bedrock:CreateEvaluationJob
                  - bedrock:ListEvaluationJobs
                Resource: "*"
              - Sid: BedrockPromptManagementRead
                Effect: Allow
                Action:
                  - bedrock:GetPrompt
                Resource:
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:prompt/${PromptResourceId}"
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:prompt/${PromptResourceId}:*"
              - Sid: S3ReadPermissions
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt EvalBucket.Arn
                  - !Sub "${EvalBucket.Arn}/*"
                  - !GetAtt ResultsBucket.Arn
                  - !Sub "${ResultsBucket.Arn}/*"
              - Sid: SNSPublishPermissions
                Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref EvalPipelineAlertsTopic
              - Sid: PassEvalRolePermission
                Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt EvalServiceRole.Arn

  # -------------------------------------------------------------------------
  # IAM: Step Functions execution role
  # -------------------------------------------------------------------------
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-sfn-execution-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EvalPipelineStepFunctionsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: InvokeLambdaFunctions
                Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt StartEvalJobFunction.Arn
                  - !GetAtt CheckEvalStatusFunction.Arn
                  - !GetAtt ParseEvalResultsFunction.Arn
              - Sid: PublishToSNS
                Effect: Allow
                Action:
                  - sns:Publish
                Resource: !Ref EvalPipelineAlertsTopic
              - Sid: CloudWatchLogsPermissions
                Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  # -------------------------------------------------------------------------
  # IAM: EventBridge invocation role
  # -------------------------------------------------------------------------
  EventBridgeInvocationRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-eventbridge-invocation-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: EvalPipelineEventBridgePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: StartStepFunctionsExecution
                Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref EvalPipelineStateMachine

  # -------------------------------------------------------------------------
  # IAM: Bedrock evaluation-job service role
  # -------------------------------------------------------------------------
  EvalServiceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-eval-service-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Sub "${AWS::AccountId}"
      Policies:
        - PolicyName: EvalServicePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: ReadEvalBucket
                Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt EvalBucket.Arn
                  - !Sub "${EvalBucket.Arn}/*"

              - Sid: WriteResultsBucket
                Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                Resource:
                  - !Sub "${ResultsBucket.Arn}/*"

              - Sid: InvokeBedrockModels
                Effect: Allow
                Action:
                  # Action set per AWS Bedrock RAG eval service-role docs:
                  # https://docs.aws.amazon.com/bedrock/latest/userguide/rag-eval-service-roles.html
                  # GetInferenceProfile is required when the generator or
                  # evaluator is referenced by a cross-region profile (us.*) --
                  # without it the eval pre-flight returns a misleading
                  # "permission to call the Knowledge Base API" error.
                  # CreateModelInvocationJob / StopModelInvocationJob are
                  # required when the evaluator model is an inference profile
                  # (e.g. us.anthropic.claude-*); the RAG eval service runs
                  # the evaluator as a batch model-invocation job internally,
                  # and absence of these actions returns a "does not have
                  # permission to call the model" error from CreateEvaluationJob.
                  - bedrock:InvokeModel
                  - bedrock:InvokeModelWithResponseStream
                  - bedrock:CreateModelInvocationJob
                  - bedrock:StopModelInvocationJob
                  - bedrock:GetInferenceProfile
                  - bedrock:GetImportedModel
                  - bedrock:GetProvisionedModelThroughput
                Resource:
                  # Foundation models in any region. Wildcard region is required
                  # because cross-region inference profiles route to the
                  # underlying foundation model in whichever region has
                  # capacity, and the IAM check is evaluated against the
                  # destination foundation-model ARN, not the profile ARN.
                  - !Sub "arn:${AWS::Partition}:bedrock:*::foundation-model/*"
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:inference-profile/*"
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:application-inference-profile/*"
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:provisioned-model/*"
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:imported-model/*"

              - Sid: RetrieveFromKnowledgeBase
                Effect: Allow
                Action:
                  - bedrock:Retrieve
                  - bedrock:RetrieveAndGenerate
                Resource:
                  - !Sub "arn:${AWS::Partition}:bedrock:${AWS::Region}:${AWS::AccountId}:knowledge-base/${KnowledgeBaseId}"

  # -------------------------------------------------------------------------
  # SNS Topic
  # -------------------------------------------------------------------------
  EvalPipelineAlertsTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${AWS::StackName}-eval-pipeline-alerts"
      Subscription:
        - Protocol: email
          Endpoint: !Ref NotificationEmail

  # -------------------------------------------------------------------------
  # S3 Buckets (CloudFormation-managed; auto-generated globally-unique names)
  # -------------------------------------------------------------------------

  # Eval bucket -- hosts the dataset and thresholds file. The prompt
  # template lives in Bedrock Prompt Management (see create_eval_prompt.py),
  # not in S3, so no EventBridge notifications are needed on this bucket.
  EvalBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-eval-${AWS::AccountId}-${AWS::Region}"

  # Results bucket -- Bedrock writes RetrieveAndGenerate eval output here.
  # No EventBridge notifications needed; Bedrock writes are not a trigger.
  ResultsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-eval-results-${AWS::AccountId}-${AWS::Region}"

  # -------------------------------------------------------------------------
  # CloudTrail -- required for "AWS API Call via CloudTrail" events to
  # reach EventBridge. Default sandbox accounts have no trail, so
  # CreatePromptVersion calls won't be forwarded to the default event bus
  # without this. Single-region management-events-only trail keeps cost
  # negligible (first management trail per region is free).
  # -------------------------------------------------------------------------
  TrailLogBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-trail-${AWS::AccountId}-${AWS::Region}"

  TrailLogBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref TrailLogBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AWSCloudTrailAclCheck
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Action: s3:GetBucketAcl
            Resource: !GetAtt TrailLogBucket.Arn
            Condition:
              StringEquals:
                aws:SourceArn: !Sub "arn:${AWS::Partition}:cloudtrail:${AWS::Region}:${AWS::AccountId}:trail/${AWS::StackName}-eventbridge-trail"
          - Sid: AWSCloudTrailWrite
            Effect: Allow
            Principal:
              Service: cloudtrail.amazonaws.com
            Action: s3:PutObject
            Resource: !Sub "${TrailLogBucket.Arn}/AWSLogs/${AWS::AccountId}/*"
            Condition:
              StringEquals:
                s3:x-amz-acl: bucket-owner-full-control
                aws:SourceArn: !Sub "arn:${AWS::Partition}:cloudtrail:${AWS::Region}:${AWS::AccountId}:trail/${AWS::StackName}-eventbridge-trail"

  EventBridgeManagementTrail:
    Type: AWS::CloudTrail::Trail
    DependsOn: TrailLogBucketPolicy
    Properties:
      TrailName: !Sub "${AWS::StackName}-eventbridge-trail"
      S3BucketName: !Ref TrailLogBucket
      IsLogging: true
      IsMultiRegionTrail: false
      IncludeGlobalServiceEvents: true
      EnableLogFileValidation: false

  # -------------------------------------------------------------------------
  # IAM: Seed eval assets Lambda role
  # -------------------------------------------------------------------------
  SeedEvalAssetsFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${AWS::StackName}-seed-eval-assets-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: SeedEvalAssetsPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Sid: EvalBucketWriteAccess
                Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:DeleteObject
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt EvalBucket.Arn
                  - !Sub "${EvalBucket.Arn}/*"
              - Sid: ResultsBucketEmptyOnDelete
                Effect: Allow
                Action:
                  - s3:DeleteObject
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt ResultsBucket.Arn
                  - !Sub "${ResultsBucket.Arn}/*"
              - Sid: TrailLogBucketEmptyOnDelete
                Effect: Allow
                Action:
                  - s3:DeleteObject
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt TrailLogBucket.Arn
                  - !Sub "${TrailLogBucket.Arn}/*"

  # -------------------------------------------------------------------------
  # Lambda: Seed eval assets custom resource
  # -------------------------------------------------------------------------
  SeedEvalAssetsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-seed-eval-assets"
      CodeUri: lambdas/seed_eval_assets/
      Handler: handler.handler
      Role: !GetAtt SeedEvalAssetsFunctionRole.Arn
      Description: >
        CloudFormation custom resource: uploads dataset, thresholds, and
        prompt template files to EvalBucket on stack Create; empties both
        EvalBucket and ResultsBucket on stack Delete.

  # -------------------------------------------------------------------------
  # Custom Resource: trigger seed Lambda on stack Create/Update/Delete
  # -------------------------------------------------------------------------
  SeedEvalAssetsCustomResource:
    Type: AWS::CloudFormation::CustomResource
    DependsOn:
      - EvalBucket
      - ResultsBucket
      - TrailLogBucket
    Properties:
      ServiceToken: !GetAtt SeedEvalAssetsFunction.Arn
      EvalBucketName: !Ref EvalBucket
      ResultsBucketName: !Ref ResultsBucket
      TrailLogBucketName: !Ref TrailLogBucket
      Region: !Ref AWS::Region

  # -------------------------------------------------------------------------
  # Lambda Functions
  # -------------------------------------------------------------------------
  StartEvalJobFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-start-eval-job"
      CodeUri: lambdas/start_eval_job/
      Handler: handler.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Description: >
        Starts a Bedrock Knowledge Base RETRIEVE_AND_GENERATE evaluation job.

  CheckEvalStatusFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-check-eval-status"
      CodeUri: lambdas/check_eval_status/
      Handler: handler.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Description: >
        Polls the status of a Bedrock evaluation job. Used within the Step Functions
        polling loop to determine when the job has reached a terminal state.

  ParseEvalResultsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${AWS::StackName}-parse-eval-results"
      CodeUri: lambdas/parse_eval_results/
      Handler: handler.handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Description: >
        Parses evaluation job results from S3, compares per-metric average scores
        against thresholds, and produces a structured pass/fail verdict.

  # -------------------------------------------------------------------------
  # Step Functions State Machine
  # -------------------------------------------------------------------------
  EvalPipelineStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-eval-pipeline"
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub
        - |
          {
            "Comment": "RAG Evaluation Pipeline: runs a retrieve-and-generate eval, parses results, and notifies.",
            "StartAt": "StartRetrieveAndGenerateJob",
            "States": {
              "StartRetrieveAndGenerateJob": {
                "Type": "Task",
                "Resource": "${StartEvalJobArn}",
                "Parameters": {
                  "eval_type": "RETRIEVE_AND_GENERATE",
                  "knowledge_base_id": "${KnowledgeBaseId}",
                  "eval_config": {
                    "dataset_s3_uri.$": "$.rag_dataset_s3_uri",
                    "output_s3_uri.$": "$.rag_output_s3_uri",
                    "role_arn": "${EvalRoleArn}",
                    "model_id": "${BedrockModelId}",
                    "evaluator_model_id": "${EvaluatorModelId}",
                    "prompt_version.$": "$.prompt_version"
                  }
                },
                "ResultPath": "$.rag_job",
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "PrepareFailureMessage",
                    "ResultPath": "$.error"
                  }
                ],
                "Next": "InitRagIterations"
              },
              "InitRagIterations": {
                "Type": "Pass",
                "Parameters": {
                  "job_arn.$": "$.rag_job.job_arn",
                  "iterations": 0,
                  "max_iterations": ${MaxPollingIterations},
                  "thresholds_s3_uri.$": "$.thresholds_s3_uri"
                },
                "Next": "InitialRagWait"
              },
              "InitialRagWait": {
                "Type": "Wait",
                "Comment": "Skip the first ~5 minutes -- evaluation jobs typically run 10-15 minutes, so polling earlier just burns Lambda invocations.",
                "Seconds": 300,
                "Next": "CheckRagStatus"
              },
              "WaitForRagJob": {
                "Type": "Wait",
                "Seconds": 30,
                "Next": "CheckRagStatus"
              },
              "CheckRagStatus": {
                "Type": "Task",
                "Resource": "${CheckEvalStatusArn}",
                "Parameters": {
                  "job_arn.$": "$.job_arn"
                },
                "ResultSelector": {
                  "status.$": "$.status",
                  "completed.$": "$.completed"
                },
                "ResultPath": "$.check_result",
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 3,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "PrepareFailureMessage",
                    "ResultPath": "$.error"
                  }
                ],
                "Next": "IsRagComplete"
              },
              "IsRagComplete": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.check_result.completed",
                    "BooleanEquals": true,
                    "Next": "PrepareParseInput"
                  },
                  {
                    "Variable": "$.iterations",
                    "NumericGreaterThanEqualsPath": "$.max_iterations",
                    "Next": "RagTimeout"
                  }
                ],
                "Default": "IncrementRagIterations"
              },
              "IncrementRagIterations": {
                "Type": "Pass",
                "Parameters": {
                  "job_arn.$": "$.job_arn",
                  "iterations.$": "States.MathAdd($.iterations, 1)",
                  "max_iterations.$": "$.max_iterations",
                  "thresholds_s3_uri.$": "$.thresholds_s3_uri"
                },
                "Next": "WaitForRagJob"
              },
              "RagTimeout": {
                "Type": "Fail",
                "Error": "RagPollingTimeout",
                "Cause": "Retrieve-and-generate evaluation job exceeded the maximum polling iteration limit."
              },
              "PrepareParseInput": {
                "Type": "Pass",
                "Comment": "Compose the parse-eval-results input from the completed RAG job.",
                "Parameters": {
                  "retrieve_and_generate_job_arn.$": "$.job_arn",
                  "thresholds_s3_uri.$": "$.thresholds_s3_uri"
                },
                "Next": "ParseEvalResults"
              },
              "ParseEvalResults": {
                "Type": "Task",
                "Resource": "${ParseEvalResultsArn}",
                "ResultPath": "$.verdict",
                "Retry": [
                  {
                    "ErrorEquals": ["States.TaskFailed"],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 2,
                    "BackoffRate": 2.0
                  }
                ],
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "PrepareFailureMessage",
                    "ResultPath": "$.error"
                  }
                ],
                "Next": "ThresholdCheck"
              },
              "ThresholdCheck": {
                "Type": "Choice",
                "Comment": "Route to success or failure notification based on parse-eval-results verdict.",
                "Choices": [
                  {
                    "Variable": "$.verdict.passed",
                    "BooleanEquals": true,
                    "Next": "PrepareSuccessMessage"
                  }
                ],
                "Default": "PrepareFailureMessage"
              },
              "PrepareSuccessMessage": {
                "Type": "Pass",
                "Parameters": {
                  "TopicArn": "${SnsTopicArn}",
                  "Subject": "RAG Evaluation Pipeline: PASSED",
                  "Message.$": "States.JsonToString($.verdict)"
                },
                "Next": "NotifySuccess"
              },
              "NotifySuccess": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn.$": "$.TopicArn",
                  "Subject.$": "$.Subject",
                  "Message.$": "$.Message"
                },
                "End": true
              },
              "PrepareFailureMessage": {
                "Type": "Pass",
                "Parameters": {
                  "TopicArn": "${SnsTopicArn}",
                  "Subject": "RAG Evaluation Pipeline: FAILED",
                  "Message.$": "States.JsonToString($)"
                },
                "Next": "NotifyFailure"
              },
              "NotifyFailure": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn.$": "$.TopicArn",
                  "Subject.$": "$.Subject",
                  "Message.$": "$.Message"
                },
                "End": true
              }
            }
          }
        - StartEvalJobArn: !GetAtt StartEvalJobFunction.Arn
          CheckEvalStatusArn: !GetAtt CheckEvalStatusFunction.Arn
          ParseEvalResultsArn: !GetAtt ParseEvalResultsFunction.Arn
          SnsTopicArn: !Ref EvalPipelineAlertsTopic
          KnowledgeBaseId: !Ref KnowledgeBaseId
          EvalRoleArn: !GetAtt EvalServiceRole.Arn
          BedrockModelId: !Ref BedrockModelId
          EvaluatorModelId: !Ref EvaluatorModelId
          MaxPollingIterations: !Ref MaxPollingIterations

  # -------------------------------------------------------------------------
  # EventBridge: KB Sync Completion Rule
  # Triggers the evaluation pipeline when a Bedrock Knowledge Base data sync
  # completes for the configured Knowledge Base ID.
  # -------------------------------------------------------------------------
  KbSyncCompletionRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-kb-sync-completion"
      Description: >
        Triggers the RAG evaluation pipeline when a Bedrock Knowledge Base
        data ingestion job completes for the configured Knowledge Base.
      EventPattern:
        source:
          - "aws.bedrock"
        detail-type:
          - "Bedrock Knowledge Base Data Source Sync"
        detail:
          knowledgeBaseId:
            - !Ref KnowledgeBaseId
          status:
            - "COMPLETE"
      State: ENABLED
      Targets:
        - Id: EvalPipelineStateMachineTarget
          Arn: !Ref EvalPipelineStateMachine
          RoleArn: !GetAtt EventBridgeInvocationRole.Arn
          Input: !Sub |
            {
              "rag_dataset_s3_uri": "s3://${EvalBucket}/datasets/rag_eval.jsonl",
              "rag_output_s3_uri": "s3://${ResultsBucket}/results/rag/",
              "thresholds_s3_uri": "s3://${EvalBucket}/baselines/thresholds.json",
              "prompt_version": ""
            }

  # -------------------------------------------------------------------------
  # EventBridge: Prompt Version Published Rule
  # CloudTrail forwards every CreatePromptVersion API call to the default
  # event bus as "AWS API Call via CloudTrail" (managementEvent: true, no
  # trail config required). This rule narrows to our specific prompt and
  # forwards the new version number to the state machine via an input
  # transformer; the start_eval_job Lambda then fetches that version's text
  # from Bedrock Prompt Management.
  # -------------------------------------------------------------------------
  PromptVersionPublishedRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub "${AWS::StackName}-prompt-version-published"
      Description: >
        Triggers the RAG evaluation pipeline when a new version of the
        configured Bedrock Prompt Management resource is published.
      EventPattern:
        source:
          - "aws.bedrock"
        detail-type:
          - "AWS API Call via CloudTrail"
        detail:
          eventSource:
            - "bedrock.amazonaws.com"
          eventName:
            - "CreatePromptVersion"
          requestParameters:
            promptIdentifier:
              - !Ref PromptResourceId
      State: ENABLED
      Targets:
        - Id: EvalPipelineStateMachineTargetPrompt
          Arn: !Ref EvalPipelineStateMachine
          RoleArn: !GetAtt EventBridgeInvocationRole.Arn
          InputTransformer:
            InputPathsMap:
              version: "$.detail.responseElements.version"
            InputTemplate: !Sub |
              {
                "rag_dataset_s3_uri": "s3://${EvalBucket}/datasets/rag_eval.jsonl",
                "rag_output_s3_uri": "s3://${ResultsBucket}/results/rag/",
                "thresholds_s3_uri": "s3://${EvalBucket}/baselines/thresholds.json",
                "prompt_version": "<version>"
              }

# ---------------------------------------------------------------------------
# Outputs
# ---------------------------------------------------------------------------
Outputs:
  StateMachineArn:
    Description: ARN of the RAG Evaluation Pipeline Step Functions state machine.
    Value: !Ref EvalPipelineStateMachine
    Export:
      Name: !Sub "${AWS::StackName}-StateMachineArn"

  SnsTopicArn:
    Description: ARN of the evaluation alerts SNS topic.
    Value: !Ref EvalPipelineAlertsTopic
    Export:
      Name: !Sub "${AWS::StackName}-SnsTopicArn"

  StartEvalJobFunctionArn:
    Description: ARN of the start-eval-job Lambda function.
    Value: !GetAtt StartEvalJobFunction.Arn

  CheckEvalStatusFunctionArn:
    Description: ARN of the check-eval-status Lambda function.
    Value: !GetAtt CheckEvalStatusFunction.Arn

  ParseEvalResultsFunctionArn:
    Description: ARN of the parse-eval-results Lambda function.
    Value: !GetAtt ParseEvalResultsFunction.Arn

  EvalServiceRoleArn:
    Description: >
      ARN of the Bedrock evaluation-job service role. Bedrock assumes this
      role when running RagEvaluation jobs created by start_eval_job.
      Provided for diagnostic visibility and future cross-stack references.
    Value: !GetAtt EvalServiceRole.Arn
    Export:
      Name: !Sub "${AWS::StackName}-EvalServiceRoleArn"

  EvalBucketName:
    Description: >
      Resolved eval bucket name. Holds the evaluation dataset and the
      thresholds file. The KB prompt template is NOT stored here -- it
      lives in Bedrock Prompt Management; see create_eval_prompt.py.
    Value: !Ref EvalBucket
    Export:
      Name: !Sub "${AWS::StackName}-EvalBucketName"

  ResultsBucketName:
    Description: Resolved results bucket name (Bedrock eval job output).
    Value: !Ref ResultsBucket
    Export:
      Name: !Sub "${AWS::StackName}-ResultsBucketName"
